*{
    padding:0px;
    margin: 0px
}
body{
    width: 800px;
    margin: auto;
}
a{
    text-decoration: none;
}
ul{
    list-style-type:none;
}
#top{
    height: 100px;
    background:beige;
    text-align: center;
    line-height: 100px;
}
#menu{
    margin-top:8px;
}
#menu ul li{
    width:390px;
    float:left;
    
    border: 1px solid black;
    text-align:center;
    background: turquoise;
}
#menu a{
    color:white;
    font-weight: bold;
}
#wrapper table{
    margin-top:60px;
    width: 800px;
    text-align:center;
    border-collapse: collapse;
}
#wrapper table tr{
    border:1px solid slategray;
    line-height: 25px;
    }
#wrapper table td{
    border:1px solid slategray;
    }
