body{
    font-family: 'Times New Roman', Times, serif;
    width:100%;
    margin: auto;
}
#top{
    height: 200px;
    margin: auto;
    width: 800px;
}

#menu{
    
    height: 50px;
    margin:10px 0 10px 0;
    background-color: rgb(235, 235, 235);
    margin: auto;
    width: 850px;
}
#wrapper{
    width: 100%;
    float:left;
    height: 500px;
    background-color: white;
    margin: auto;
}
#main{
    width: 800px;
    float:left;   
    height: 500px;
    margin-right: 30px;

}
#right{
    width:100%;
    
}
#right ul li{
margin:auto;
float:left
}
#buttom{
    width: 800px;
    height: 150px;
    background-color: rgb(255,255,255);
    margin: auto;
}
#buttom table{
    border: 1px solid gray;
}
#menu ul{
    list-style-type:none;
    padding:0 px;
}
#menu ul li{
    float:left;
    width:150px;
    padding-top: 5px;
}
#menu ul li a{
    text-decoration: none;
}
#right ul {
    list-style-type:none;
}
#right ul li{
    margin:20px;
}
#buttom table tr td a{
    text-decoration: none;
    color:black;
}
#main table tr td a{
    text-decoration: none;
    color:blue;
}
.slide{
    width: 500px;
    height: 300px;
    margin:20px auto;
}